---
layout: default
---

<div class="home">

  <h1 class="page-heading">James Augustine Aloysius Joyce</h1>

  <ul class="post-list">
    {% for post in site.categories.Joyce limit:10 %}
      <li>

        <h2>
          <a class="post-link" font_size=15 href="{{ post.url | prepend: site.baseurl }}" style="font-size: 18px;">{{ post.title }}</a>
        </h2>
        <p>{{ post.excerpt }}</p>
      </li>
    {% endfor %}
  </ul>


  <h1 class="page-heading">Edgar Allan Poe</h1>
  
  <ul class="post-list">
    {% for post in site.categories.Poe limit:10 %}
      <li>

        <h2>
          <a class="post-link" font_size=15 href="{{ post.url | prepend: site.baseurl }}" style="font-size: 18px;">{{ post.title }}</a>
        </h2>
        <p>{{ post.excerpt }}</p>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Percy Bysshe Shelley</h1>

  <ul class="post-list">
    {% for post in site.categories.Shelley limit:10 %}
      <li>

        <h2>
          <a class="post-link" font_size=15 href="{{ post.url | prepend: site.baseurl }}" style="font-size: 18px;">{{ post.title }}</a>
        </h2>
        <p>{{ post.excerpt }}</p>
      </li>
    {% endfor %}
  </ul>

  <!-- <h3 class="rss-subscribe"><a href="{{ "/episodes.rss" | prepend: site.baseurl }}"Subscribe to >Subscribe to {{ site.title_short }} in your favorite podcast client</a></h3>
  {% if site.itunes_url %}
  <h3 class="rss-subscribe"><a href="{{ site.itunes_url }}">Subscribe on iTunes</a></h3>
  {% endif %} -->

</div>
